<!-- MapServer Template -->
[resultset layer=PH-GSOC]
Layer: [layer]
Location: [x], [y]

Band Values:
CORGADBAU: [band1]
CORGADSSM1: [band2]
CORGADSSM2: [band3]
CORGADSSM3: [band4]
CORGASRBAU: [band5]
CORGASRSSM1: [band6]
CORGASRSSM2: [band7]
CORGASRSSM3: [band8]
CORGRDSSM1: [band9]
CORGRDSSM2: [band10]
CORGRDSSM3: [band11]
CORGRSRSSM1: [band12]
CORGRSRSSM2: [band13]
CORGRSRSSM3: [band14]