<!-- MapServer Template -->
{
  "CORGADBAU": [value_0],
  "CORGADSSM1": [value_1],
  "CORGADSSM2": [value_2],
  "CORGADSSM3": [value_3],
  "CORGASRBAU": [value_4],
  "CORGASRSSM1": [value_5],
  "CORGASRSSM2": [value_6],
  "CORGASRSSM3": [value_7],
  "CORGRDSSM1": [value_8],
  "CORGRDSSM2": [value_9],
  "CORGRDSSM3": [value_10],
  "CORGRSRSSM1": [value_11],
  "CORGRSRSSM1U": [value_12],
  "CORGRSRSSM2": [value_13],
  "CORGRSRSSM2U": [value_14],
  "CORGRSRSSM3": [value_15],
  "CORGRSRSSM3U": [value_16],
  "CORGSOCBAU": [value_17],
  "CORGSOCSSM1": [value_18],
  "CORGSOCSSM2": [value_19],
  "CORGSOCSSM3": [value_20],
  "CORGSSMU": [value_21],
  "CORGT0": [value_22]
}