<!-- MapServer Template -->
{
  "BKD-0-30": [value_0],
  "BKD-30-60": [value_1],
  "CEC-0-30": [value_2],
  "CEC-30-60": [value_3],
  "CLAY-0-30": [value_4],
  "CLAY-30-60": [value_5],
  "CORG-0-30": [value_6],
  "CORG-30-60": [value_7],
  "KXX-0-30": [value_8],
  "KXX-30-60": [value_9],
  "PHX-0-30": [value_10],
  "PHX-30-60": [value_11],
  "PXX-0-30": [value_12],
  "PXX-30-60": [value_13],
  "SAND-0-30": [value_14],
  "SAND-30-60": [value_15],
  "SILT-0-30": [value_16],
  "SILT-30-60": [value_17]
}